<div ng-include="'/components/navbar/navbar.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Newest</h1>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Track</th>
                        <th>Artists</th>
                        <th>First Heard</th>
                        <th>Plays</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in week">
                        <th><img width="40" ng-src="{{song.spotify.album_image || 'assets/images/album_placeholder.jpg'}}"></th>
                        <th>{{song.track}}</th>
                        <td>{{song.artists}}</td>
                        <td>{{song.firstHeard | date:'short'}}</td>
                        <td>{{song.plays}}</td>
                        <td>
                            <p>
                                <a ng-href="#/song/{{song.xmSongID}}" class="btn btn-default btn-sm btn-info" role="button">
                                    <fa name="info-circle" size="1"></fa>
                                </a>
                                <a ng-click="hypem(song)" target="_blank" class="btn btn-default btn-sm" role="button">
                                    <fa name="heart" size="1"></fa>
                                </a>
                                <a ng-show="song.spotify.album_image" href="{{song.spotify.url}}" target="_blank" class="btn btn-success btn-sm" role="button">
                                    <fa name="spotify" size="1"></fa>
                                </a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
